@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #6C757D;
}

sbody {
    background-color: var(--branco);
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: var(--preto);
}

.imagem_logo {
    padding: 13px 40px 13px 23px;
}

.cabecalho__menu__links {
    display: flex;   
    gap: 40px;    
}

.cabecalho__menu__navegacao {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--branco);
    text-decoration: none;
}

.pesquisa {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 1;
    right: 0;
    padding: 0 23px;      
}

.pesquisa__texto {
    padding: 0 0 0 15px;
    width: 170px;
    height: 38px;
    color: var(--cinza);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;    
}

.pesquisa__botao {
    background-color: var(--preto);
    padding: 9px 12px;
    border: 1px solid var(--branco);        
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: var(--branco);
}

@media (max-width: 391px) {
.cabecalho {
    display: flex;
}

.pesquisa {
    position: auto;
}        
}